@model ApplicationRole

<div>
    <label class="col-for-label" asp-for="@Model.Id"></label>
    <input asp-for="@Model.Id" class="form-control" readonly/>
</div>
<div>
    <label class="col-for-label" asp-for="@Model.Name"></label>
    <input asp-for="@Model.Name" class="form-control" readonly/>
</div>
<div>
    <label class="col-for-label" asp-for="@Model.CreateAt"></label>
    <input asp-for="@Model.CreateAt" class="form-control" readonly/>
</div>

